<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Railway Testcase">
    <test name="Set 1">
        <parameter name="path" value="\driver\chromedriver.exe"/>
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="testcase.Set1"/>
        </classes>
    </test>
</suite>